.bg,
.menu {
  position: absolute;
}
.bg {
  height: 55.63%;
  width: 93.75%;
  top: 33.8%;
  right: 6.25%;
  bottom: 10.56%;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.menu {
  height: 23.24%;
  width: 36.49%;
  top: 50%;
  right: 8.75%;
  bottom: 26.76%;
  left: 54.76%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-26xl);
}
.logo-icon {
  position: absolute;
  height: 75.35%;
  width: 20.83%;
  top: 24.65%;
  right: 78.39%;
  bottom: 0;
  left: 0.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.online-store {
  position: absolute;
  top: 70.42%;
  left: 15.24%;
  line-height: 110%;
  text-transform: uppercase;
  font-weight: 300;
}
.cad {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 130%;
  font-weight: 600;
}
.currency-child {
  position: absolute;
  height: 33.89%;
  width: 22.29%;
  top: 42.22%;
  right: -0.63%;
  bottom: 23.89%;
  left: 78.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.currency {
  position: absolute;
  height: 12.68%;
  width: 2.86%;
  top: 8.45%;
  right: 0.18%;
  bottom: 78.87%;
  left: 96.96%;
  font-size: var(--font-size-sm);
}
.cart-child {
  position: absolute;
  height: 88.76%;
  width: 92.47%;
  top: 11.24%;
  right: 7.53%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--corporate-secondary);
  box-sizing: border-box;
}
.group-child {
  position: absolute;
  height: 87.11%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 12.89%;
  left: 0;
  border-radius: 50%;
  background-color: var(--corporate-secondary);
}
.div {
  position: absolute;
  height: 97.91%;
  width: 43.6%;
  top: 2.09%;
  left: 31.2%;
  line-height: 130%;
  display: inline-block;
}
.ellipse-parent {
  position: absolute;
  height: 32.25%;
  width: 26.88%;
  top: 0;
  right: 0;
  bottom: 67.75%;
  left: 73.12%;
}
.cart-1-icon {
  position: absolute;
  top: 30px;
  left: 21px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.cart {
  position: absolute;
  height: 62.68%;
  width: 5.54%;
  top: 26.76%;
  right: -0.42%;
  bottom: 10.56%;
  left: 94.88%;
  font-size: 17.39px;
  color: var(--white);
}
.currency-icon {
  position: absolute;
  top: 8px;
  left: 1600px;
  width: 23.2px;
  height: 25.8px;
}
.store-header {
  width: 1680px;
  height: 142px;
  text-align: left;
  font-size: var(--body-size);
  color: var(--black);
  font-family: var(--body);
}
