/* src/Components/Atomos/Input.css */
.custom-input {
  /* Estilos personalizados para el campo de entrada */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
}

/* Nuevos estilos para el título */
.custom-input-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
